$hover-color: rgba(0,0,0,.3);

.task {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: .3rem;
    background-color: white;
    min-width: 200px;
    min-height: 100px;
    margin-top: 10px;
    user-select: none;

    .task-header {
        border-bottom: 1px solid #e9ecef;
        display: flex;
        justify-content: space-between;
        word-break: break-all;
        .cross {
            opacity: 0.75;
        }
        .task-remove {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px;
        }
        .task-remove:hover {
            background: $hover-color;
        }
        p {
            padding: 5px;
            margin: 0;
        }
    }
    .task-move {
        width: 30px;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
        .arrow {
            min-height: 50px;
            display: flex;
            align-items: center;
        }
    }
    .task-move.prev {
        order: 1;
    }
    .task-move.next {
        order: 3;
    }
    .task-move:hover {
        background: $hover-color;
    }
    .task-body {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex: 1;
        .body {
            padding: 0 5px;
            order: 2;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-grow: 1;
            cursor: pointer;
            word-break: break-all;
        }
        .body:hover {
            background: $hover-color;
        }
    }
}
.modal-body {
    word-wrap: break-word;
}